BACKOFFICE_PORT=
MYMOVESTER_PORT=

DB_HOST=
DB_DATABASE=
DB_USER=
DB_PASSWORD=
DB_PORT=
DB_SYNCHRONIZE=

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_BUCKET_NAME=
AWS_BUCKET_REGION=

SENTRY_DSN_BACKOFFICE=
SENTRY_DSN_MYMOVESTER=
SLACK_WEBHOOK=

KAKAO_KEY=

JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRES_IN=

JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_TOKEN_EXPIRES_IN=

ENVIRONMENT=